@model AmaderBazar.BusinessModel.DeleteProduct

@{
    ViewBag.Title = "Dashboard";
}

<center>
    <h2><b style="font-family: Cambria;">@Session["AccType"].ToString() Dashboard</b></h2>
</center>

<div style=" width: auto; height: 30px; background-color: #36E0FC; border-radius: 5px; "><center><p style="font-family: Cambria;color:aliceblue;padding-top: 2.5px;font-size: 15px"><b>Active Delivery Men</b></p></center></div>
<table class="table table-bordered" style="font-family:Cambria">

    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Status</th>
        <th>Orders Completed</th>
        <th>Paycheck</th>
        <th>Delivery Charge</th>
    </tr>
    @foreach (var item in ViewBag.DeliveryMen)
    {
        if (item.AccType == "Delivery Man" && item.AccStatus != "Pending")
        {
            if (item.Delivery.Status != "Blocked")
            {
                <tr>
                    <td>@item.UID</td>
                    <td>@item.Name</td>
                    @if (item.Delivery.Status == "Free")
                    {
                        <td style="background-color: green"><b>@item.Delivery.Status</b></td>
}
                    else if (item.Delivery.Status == "Busy")
                    {
                        <td style="background-color: orange"><b>@item.Delivery.Status</b></td>
}
                    <td>@item.Delivery.NumOfOrders</td>
                    <td>@item.Delivery.Balance</td>
                    <td>@item.Delivery.DeliveryCharge</td>
                </tr>

            }
        }
    }

</table>

<div style="
        width: auto;
        height: 30px;
        background-color: #c0c3e2;
        border-radius: 5px;
    "><center><p style="font-family: Cambria;color:black;padding-top: 2.5px;font-size: 15px"><b>Available Products</b></p></center></div>
<form action="/Admin/Dashboard" method="post">
    <table class="table table-bordered" style="font-family:Cambria">

        <tr>
            <th>Product Name</th>
            <th>Product Seller</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
        @foreach (var items in ViewBag.Products)
        {

            <tr>
                <td>@items.PName</td>
                <td>@items.User.Name</td>
                <td>@items.CatName</td>
                <td>@items.Qty</td>
                <td>@items.Price</td>
                <td>@items.Descr</td>

                <td>
                    <div class="form-group" hidden="hidden">
                        <input autocomplete="off" class="form-control valid" data-val="true" value="@items.PID" id="@items.PID" name="" type="text" />
                    </div>

                    <input type="submit" class="btn btn-block btn-danger" name="@items.PID" value="Remove" onmouseover="assignPID(this)" onmouseout="removePID(this)">
                </td>
            </tr>
        }

    </table>
</form>

<script>
    function assignPID(x) {
        document.getElementById(x.name).name = "PID";
    }

    function removePID(x) {
        document.getElementById(x.name).name = "";
    }
</script>